.DS_Store
.cask
*.elc
auto-save-list/
eshell/
url/
recentf
bookmarks
.cache/
*.eld
tmp/
.org-id-locations
BROWSE
anaconda-mode/
.python-environments/
projectile.cache
tramp
transient/
packages/prodigy-conf.el
tutorial/
.last-package-update-day
.projectile
.packages
org-persist/
